[submodule "backend-todo"]
	path = backend-todo
	url = https://github.com/aayushitripathi/backend-todo
[submodule "todo-frontend"]
	path = todo-frontend
	url = https://github.com/aayushitripathi/todo-frontend
